.burger__menu {
  width: 100%;
  height: 483px;
  position: absolute;
  top: 75px;
  padding-left: 20px;
  padding-top: 30px;
  background: #FFCD00;
  z-index: 10000;
  display: none;
  padding-top: 11px;
  animation: ShowMenu .5s ease-in-out; }
  .burger__menu > .contact {
    margin-top: 25px; }
    .burger__menu > .contact > .contact__box__item {
      background-color: #ECB200; }
      .burger__menu > .contact > .contact__box__item:hover {
        background: #e63000; }

.burger {
  display: none;
  width: 23px;
  height: 17px; }

.visible {
  display: block; }

.hide {
  display: none; }

.burger__list {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #5A1404;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECB200; }
  .burger__list > li + li {
    margin-top: 20px; }

@keyframes ShowMenu {
  0% {
    transform: translateY(-200%); }
  100% {
    transform: translateY(0); } }
@media (max-width: 760px) {
  .navigation {
    display: none; }

  .burger {
    display: block; } }
@media (max-width: 586px) {
  .burger__menu > .contact > .contact__title {
    text-align: left; } }
.container {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 5px; }

body {
  font-family: 'PFDinTextCondPro';
  position: relative; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .3s ease-in-out; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  margin: 0;
  padding: 0; }

input, button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border: none; }

input:focus, button:focus {
  outline: none; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

.images {
  background: #FFCD00;
  margin-top: -100px;
  border-radius: 0 0 35% 35%;
  overflow: hidden;
  border-bottom: 18px solid #FFCD00; }

.block {
  display: flex;
  position: relative; }

.person {
  position: absolute;
  left: 148px;
  top: 70px;
  max-width: 557px;
  max-height: 509px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 100; }

.text {
  max-width: 558px;
  max-height: 358px;
  width: 100%;
  height: 100%;
  object-fit: contain; }

.kitchen {
  max-width: 332px;
  max-height: 198px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right: 10px; }

.kit {
  display: flex;
  position: relative;
  max-width: 1314px; }

.oltermanni {
  position: absolute;
  right: 0;
  max-width: 201px;
  width: 100%;
  object-fit: contain; }

.cirkl {
  position: absolute;
  right: 18px;
  top: 0;
  z-index: 100;
  transform: translateY(-50%);
  max-width: 66px;
  max-height: 66px;
  width: 100%;
  height: 100%; }

@media (min-width: 1001px) {
  .person {
    top: 70px;
    left: 160px;
    max-width: 557px;
    max-height: 509px;
    height: 509px;
    width: 557px; }

  .kitchen {
    max-width: 891px;
    max-height: 532px; }

  .oltermanni {
    max-width: 622px;
    transform: translateY(-80px); }

  .cirkl {
    transform: translateY(-160px);
    max-width: 176px;
    max-height: 176px;
    right: 39px; }

  .block {
    left: 144px;
    top: 120px;
    z-index: 100; } }
@media (max-width: 1000px) {
  .block {
    top: 100px;
    z-index: 100;
    left: 70; }

  .person {
    top: 100px; }

  .kitchen {
    max-width: 732px;
    max-height: 498px; }

  .oltermanni {
    max-width: 430px;
    transform: translateY(-40px); }

  .cirkl {
    max-width: 166px;
    max-height: 166px;
    top: -70px;
    transform: translateY(-40px); } }
@media (max-width: 900px) {
  .person {
    left: 150px;
    top: 130px; } }
@media (max-width: 800px) {
  .person {
    left: 200px;
    top: 80px;
    max-width: 323px;
    max-height: 304px;
    height: 304px; }

  .kitchen {
    max-width: 632px;
    max-height: 398px; }

  .oltermanni {
    max-width: 401px; }

  .cirkl {
    max-width: 120px;
    max-height: 120px;
    right: 30px;
    top: -50px; }

  .text {
    max-width: 458px;
    max-height: 258px; } }
@media (max-width: 700px) {
  .person {
    left: 180px;
    top: 50px;
    max-width: 323px;
    max-height: 304px; }

  .kitchen {
    max-width: 532px;
    max-height: 298px; }

  .oltermanni {
    max-width: 301px; }

  .cirkl {
    max-width: 120px;
    right: 15px;
    max-height: 120px; } }
@media (max-width: 600px) {
  .person {
    top: 0;
    max-width: 223px;
    max-height: 304px;
    height: 304px; }

  .text {
    max-width: 308px;
    max-height: 234px; }

  .kitchen {
    max-width: 432px; }

  .oltermanni {
    max-width: 301px; }

  .cirkl {
    max-width: 122px;
    max-height: 122px; } }
@media (max-width: 500px) {
  .person {
    left: 80px;
    max-width: 223px;
    max-height: 204px; }

  .block {
    left: 0px; }

  .text {
    max-width: 208px;
    max-height: 134px; }

  .oltermanni {
    max-width: 201px; }

  .cirkl {
    top: 0;
    max-width: 66px;
    max-height: 66px; } }
@media (max-width: 450px) {
  .person {
    left: 60px; } }
@media (max-width: 400px) {
  .person {
    left: 40px; } }
@media (max-width: 380px) {
  .kitchen {
    transform: translateX(-110px);
    max-width: 350px;
    max-height: 198px; }

  .person {
    top: 20px; }

  .block {
    left: 20px;
    top: 45px; }

  .oltermanni {
    transform: none; }

  .images {
    margin-top: -50px; }

  .cirkl {
    top: 0; } }
@media (max-width: 321px) {
  .block {
    transform: translateX(-10px); } }
.header {
  position: relative;
  z-index: 1000;
  background: linear-gradient(180deg, #ECB200 0%, #FFCF00 78.83%); }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 23px; }
  .header__bottom {
    position: relative; }
    .header__bottom::before {
      content: '';
      position: absolute;
      width: 80px;
      height: 158px;
      background-image: url("./../images/pseudoElements/baloon.svg");
      top: 40px;
      left: 27px; }
    .header__bottom::after {
      content: '';
      position: absolute;
      width: 31px;
      height: 47px;
      background-image: url("./../images/pseudoElements/spiral2.svg");
      top: 57px;
      right: 57px; }
    .header__bottom__title {
      font-weight: 500;
      font-size: 60px;
      line-height: 46px;
      text-transform: uppercase;
      text-align: center;
      color: #e63000;
      text-shadow: -3px 5px #FFF;
      margin-bottom: 57px; }
    .header__bottom__manual {
      display: flex;
      justify-content: space-between;
      padding-bottom: 67px;
      flex-wrap: wrap; }
      .header__bottom__manual__item {
        max-width: 221px;
        margin: 0 auto; }
        .header__bottom__manual__item__card > img {
          margin-left: 50%;
          transform: translateX(-50%);
          margin-bottom: 21px; }
        .header__bottom__manual__item__card > p {
          font-weight: 400;
          font-size: 20px;
          line-height: 22px;
          text-align: center; }
        .header__bottom__manual__item__arrow {
          margin-top: 73px; }

.navigation {
  display: flex;
  align-items: center;
  column-gap: 83px; }
  .navigation__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #5A1404; }
    .navigation__item:hover {
      color: #e63000; }

.login-box {
  display: flex;
  align-items: center;
  column-gap: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #5A1404; }

.logo {
  display: flex;
  align-items: center;
  column-gap: 14px; }

@media (max-width: 500px) {
  .header__bottom__manual {
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .header__bottom__manual__item__arrow {
    margin-top: 22px;
    rotate: 90deg;
    margin-bottom: 26px; }

  .header__bottom::before, .header__bottom::after {
    top: 300px; }
  .header__bottom__title {
    font-size: 34px; }

  .logo > img + * {
    height: 21px;
    width: 136px; } }
.button.login {
  padding: 10px 43px;
  background: #FFCD00;
  border-radius: 29px; }
  .button.login:hover {
    background: #e63000;
    color: #FFF; }
.button.registration {
  color: #5A1404; }
.button.download {
  box-shadow: 0px 0px 37px #E7E7E7;
  background: #e63000;
  border-radius: 29px;
  padding: 15px 60px;
  text-transform: uppercase;
  border: 9px solid #FFF;
  display: inline-block;
  color: #FFF;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 81px; }
  .button.download:hover {
    background: #FFF;
    color: #e63000;
    border: 9px solid #e63000;
    box-shadow: 0px 0px 37px #e63000; }
.button:hover {
  color: #e63000; }

@media (max-width: 400px) {
  .button.login {
    padding: 6px 22px; }
  .button.registration {
    display: none; } }
.participants {
  padding-top: 66px;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  background: linear-gradient(180.05deg, #EDEDED 22.63%, #FFF 99.95%);
  position: relative; }
  .participants::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url("./../images/pseudoElements/spiral.svg");
    background-size: cover;
    background-repeat: no-repeat;
    top: -26px;
    left: 16.46%;
    z-index: 1000; }
  .participants__title {
    text-align: center;
    text-transform: uppercase;
    color: #5A1404;
    margin-bottom: 23px; }
  .participants__box__content {
    display: flex;
    align-items: center;
    position: relative; }

.arrow__left, .arrow__right {
  position: absolute;
  top: 95px;
  cursor: pointer;
  z-index: 100; }
.arrow__left {
  left: 0; }
.arrow__right {
  right: 0;
  rotate: 180deg; }

.swiper {
  max-width: 1030px;
  height: 388px; }
  .swiper-pagination-bullet {
    background: #5B1A0D;
    border: 1px solid #5B1A0D;
    width: 11px;
    height: 11px;
    opacity: 1; }
    .swiper-pagination-bullet-active {
      background: none;
      border: 1px solid #5B1A0D;
      width: 11px;
      height: 11px; }
    .swiper-pagination-bullet:hover {
      background: #e63000;
      border: 1px solid #e63000; }
  .swiper-slide {
    min-width: 200px;
    min-height: 260px;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .swiper-slide > img {
      margin-bottom: 22px;
      min-width: 128px;
      min-height: 198px; }

.product {
  margin-left: 50%;
  transform: translateX(-50%); }
  .product__info {
    text-align: center;
    color: #5A1404;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px; }

@media (max-width: 500px) {
  .arrow__left,
  .arrow__right {
    display: none; } }
@media (max-width: 400px) {
  .participants__title {
    font-size: 30px; } }
.footer {
  border-top: 1px solid #000;
  padding-top: 22px;
  background: #FEFEFE; }
  .footer__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .footer__info__title {
    text-transform: uppercase;
    color: #5A1404;
    margin-bottom: 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px; }
  .footer__phone {
    color: #e63000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    line-height: 25px;
    margin-bottom: 15px; }
  .footer__bottom {
    font-weight: 400;
    font-size: 12px;
    color: #5B1A0D;
    line-height: 21px; }
  .footer__nav {
    display: flex;
    column-gap: 70px; }
    .footer__nav__item {
      color: #5A1404;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      text-align: center; }
      .footer__nav__item:hover {
        color: #e63000; }

.contact__title {
  color: #5B1A0D;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 11px; }
.contact .contact__box {
  display: flex;
  column-gap: 10px;
  align-items: center; }
  .contact .contact__box > .contact__box__item {
    width: 32px;
    height: 32px;
    background: #FFCD00;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contact .contact__box > .contact__box__item:hover {
      background: #e63000; }

@media (max-width: 586px) {
  .footer__box .footer__info,
  .footer__box .footer__nav,
  .footer__box .socialMedia {
    text-align: center;
    margin: 0 auto; }
  .footer__box .footer__info {
    order: 2;
    margin-bottom: 17px; }
  .footer__box .footer__nav {
    order: 1;
    margin-bottom: 25px; }
  .footer__box .contact {
    order: 3; } }
@media (max-width: 500px) {
  .contact {
    margin: 0 auto; }
    .contact__title {
      text-align: center; } }
.modal {
  width: 500px;
  height: 250px;
  background-color: #FFF;
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 20000;
  justify-content: space-between;
  display: none;
  animation: modal .3s ease-in-out;
  color: #5A1404;
  fill: #5B1A0D; }
  .modal > .close, .modal > .modal-end {
    max-height: 50px; }

.close__modal {
  display: flex;
  column-gap: 14px;
  height: 15px;
  padding: 20px 20px;
  align-items: center;
  background: #FFCD00;
  text-transform: uppercase;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer; }
  .close__modal:hover {
    color: #FFF;
    fill: #FFF;
    background: #CA2A00; }
  .close__modal > svg {
    fill: inherit; }

@keyframes modal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
