.menu {
    width: 100%;
    position: absolute;
    top: 70px;
    padding: 30px 0 36px 20px;
    background: $yellow;
    z-index: 10000;
    display: none;
    padding-top: 11px;
    animation: ShowMenu .5s ease-in-out;

    .mn__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #5B1A0D;
        margin-bottom: 11px;
    }

    .mn__list {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .mn__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #5B1A0D;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ECB200;
        border-radius: 5px;

        &:hover {
            background: $red;
        }
    }
}

.hide {
    opacity: 0;
}

.burger {
    display: none;
    width: 23px;
    height: 17px;
}

.visible {
    display: block;
}

.menu__list {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $brown;
    padding-bottom: 25px;
    border-bottom: 1px solid $yellow-dark;
    margin-bottom: 25px;
}

.menu__link:hover {
    color: $red;
}

.menu__item+.menu__item {
    margin-top: 20px;
}

@keyframes ShowMenu {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0);
    }
}

@media(max-width:760px) {
    .burger {
        display: block;
    }
}

@media(max-width:586px) {
    .menu {
        &>.contact>.contact__title {
            text-align: left;
        }
    }
}