.burger__menu {
    width: 100%;
    height: 483px;
    position: absolute;
    top: 75px;
    padding-left: 20px;
    padding-top: 30px;
    background: $yellow;
    z-index: 10000;
    display: none;
    padding-top: 11px;
    animation: ShowMenu .5s ease-in-out;
    &>.contact{
        margin-top: 25px;
        &>.contact__box__item{
        background-color: #ECB200;
        &:hover{
            background: $red;
        }
    }
}
}
.burger{
    display: none;
    width: 23px;
    height: 17px;
}
.visible{
    display: block;
}
.hide{
    display: none;
}
.burger__list {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $brown;
    padding-bottom: 25px;
    border-bottom: 1px solid $yellow-dark;
    &>li+li {
        margin-top: 20px;
    }
}
@keyframes ShowMenu{
    0%{
        transform: translateY(-200%);
    }
    100%{
        transform: translateY(0);
    }
}
@media(max-width:760px) {
    // .navigation {
    //     display: none;
    //     opacity: 0;
    // }

    .burger {
        display: block;
    }
}

@media(max-width:586px){
    .burger__menu {
        &>.contact>.contact__title {
            text-align: left;
        }
    }
}