@media(min-width:1001px){
    .person{
        top: 70px;
        left: 160px;
        max-width: 557px;
        max-height: 509px;
        height: 509px;
        width: 557px;
    }
    .kitchen{
        max-width: 891px;
        max-height: 532px;
    }
    .oltermanni{
        max-width: 622px;
        transform: translateY(-80px);
    }
    .cirkl{
        transform: translateY(-160px);
        max-width: 176px;
        max-height: 176px;
        right: 39px;
    }
    .block{
        left: 144px;
        top: 120px;
        z-index: 100;
    }
}
@media(max-width:1000px){
    .block{
        top: 100px;
        z-index: 100;
        left:70;
    }
    .person{
        top: 100px;
    }
    .kitchen{
        max-width: 732px;
        max-height: 498px;
    }
    .oltermanni{
        max-width: 430px;
        transform: translateY(-40px);
    }
    .cirkl{
        max-width: 166px;
        max-height: 166px;
        top: -70px;
        transform: translateY(-40px);
    }
}
@media(max-width:500px){
    .header__bottom__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__bottom__list__item__arrow{
        margin-top: 22px;
        rotate: 90deg;
        margin-bottom: 26px;
    }
    .arrow__left,.arrow__right{
        display: none;
    }
    .button.download{
        font-size: 14px;
        line-height: 21px;
        padding: 6px 33px;
        word-wrap: break-word;
    }
    .button.registration{
        display: none;
    }
}
@media(max-width:900px){
    .person{
        left: 150px;
        top: 130px;
        max-width: 523px;
        max-height: 504px;
        height: 404px;
    }
}
@media (max-width:800px) {
    .person{
        left: 200px;
        top: 80px;
        max-width: 323px;
        max-height: 304px;
        height: 304px;
    }
    .kitchen{
        max-width: 632px;
        max-height: 398px;
    }
    .oltermanni{
        max-width: 401px;
    }
    .cirkl{
        max-width: 120px;
        max-height: 120px;
        right: 30px;
        top: -50px;
    }
    .text{
        max-width: 458px;
        max-height: 258px;
    }
}
@media(max-width:700px){
    .person{
        left: 180px;
        top: 50px;
        max-width: 323px;
        max-height: 304px;
    }
    .kitchen{
        max-width: 532px;
        max-height: 298px;
    }
    .oltermanni{
        max-width: 301px;
    }
    .cirkl{
        max-width: 120px;
        right: 15px;
        max-height: 120px;
    }
}
@media(max-width:760px){
    .nav{
        display: none;
    }
    .burger{
        display: block;
    }
}
@media(max-width:600px){
    .person{
        top: 0;
        max-width: 223px;
        max-height: 304px;
        height: 304px;
    }
    .text{
        max-width: 308px;
        max-height: 234px;
    }
    .kitchen{
        max-width: 432px;
    }
    .oltermanni{
        max-width: 301px;
    }
    .cirkl{
        max-width: 122px;
        max-height: 122px;
    }
}
@media(max-width:500px){
    .person{
        left: 80px;
        max-width: 223px;
        max-height: 204px;
    }
    .block{
        left: 70px;
    }
    .text{
        max-width: 208px;
        max-height: 134px;
    }
    .oltermanni{
        max-width: 201px;
    }
    .cirkl{
        top: 0;
        max-width: 66px;
        max-height: 66px;
    }
}
@media(max-width:400px){
    .button.registration{
        display: none;
    }
    .button{
        &.login{
            padding: 6px 22px;
        }
    }
    .logo{
        &>img+*{
            height: 21px;
            width: 136px;
        }
    }
    .block{
        left: 0;
    }
}
@media(max-width:360px){
    .kitchen{
        transform: translateX(-110px);
        max-width: 350px;
        max-height: 198px;
    }
    .person{
        top: 20px;
        left: 60px;
    }
    .block{
        left: 20px;
        top: 50px;
    }
    .oltermanni{
        transform: none;
    }
    .images{
        margin-top: -50px;
    }
    .cirkl{
        top: 0;
    }
}