.menu {
  width: 100%;
  position: absolute;
  top: 70px;
  padding: 30px 0 36px 20px;
  background: #FFCD00;
  z-index: 10000;
  display: none;
  padding-top: 11px;
  animation: ShowMenu 0.5s ease-in-out;
}
.menu .mn__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #5B1A0D;
  margin-bottom: 11px;
}
.menu .mn__list {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.menu .mn__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #5B1A0D;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ECB200;
  border-radius: 5px;
}
.menu .mn__item:hover {
  background: #e63000;
}

.hide {
  opacity: 0;
}

.burger {
  display: none;
  width: 23px;
  height: 17px;
  background-image: url("./../images/burger/burger.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.burger--close {
  background-image: url("./../images/burger/close.svg");
}

.visible {
  display: block;
}

.menu__list {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #5A1404;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECB200;
  margin-bottom: 25px;
}

.menu__link:hover {
  color: #e63000;
}

.menu__item + .menu__item {
  margin-top: 20px;
}

@keyframes ShowMenu {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 760px) {
  .burger {
    display: block;
  }
}
@media (max-width: 586px) {
  .menu > .contact > .contact__title {
    text-align: left;
  }
}
.container {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 5px;
}

body {
  font-family: "PFDinTextCondPro", sans;
  position: relative;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

input, button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border: none;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.img {
  height: 707px;
  width: 95%;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 35% 35%;
}
@media (max-width: 1200px) {
  .img {
    height: 650px;
  }
}
@media (max-width: 100px) {
  .img {
    height: 450px;
  }
}
@media (max-width: 767px) {
  .img {
    height: 404px;
  }
}
@media (max-width: 700px) {
  .img {
    height: 300px;
  }
}
@media (max-width: 500px) {
  .img {
    height: 250px;
  }
}
@media (max-width: 400px) {
  .img {
    height: 200px;
  }
}

.person {
  max-width: 43%;
  object-fit: cover;
  position: absolute;
  top: 3%;
  left: 22%;
  z-index: 100;
}

.text {
  max-width: 43%;
  max-height: 358px;
  object-fit: cover;
  position: absolute;
  left: 10%;
  z-index: 100;
}

.kitchen {
  max-width: 68%;
  max-height: 66%;
  position: absolute;
  top: 38%;
  left: 0;
  display: block;
  object-fit: cover;
}

.oltermanni {
  position: absolute;
  right: 0;
  top: 28%;
  max-width: 47%;
  height: auto;
  object-fit: cover;
}

.circle {
  max-width: 25%;
  max-height: 25%;
  position: absolute;
  right: -5%;
  transform: translateX(-50%);
  top: 20%;
  object-fit: cover;
}

.header {
  position: relative;
  z-index: 1000;
  background: linear-gradient(180deg, #ECB200 0%, #ffcf00 78.83%);
}
.header__top {
  background: #FFF;
  position: relative;
}
.header__bottom {
  position: relative;
}
.header__bottom::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 158px;
  background-image: url("./../images/pseudoElements/baloon.svg");
  top: 40px;
  left: 27px;
}
.header__bottom::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 47px;
  background-image: url("./../images/pseudoElements/spiral2.svg");
  top: 57px;
  right: 57px;
}
.header__bottom .manual__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 67px;
  flex-wrap: wrap;
}
.header__bottom .manual__list__item {
  max-width: 221px;
  margin: 0 auto;
}
.header__bottom .manual__list__arrow {
  margin-top: 73px;
}

.card__image {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 21px;
}
.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}

.slogan {
  font-weight: 500;
  font-size: 60px;
  line-height: 46px;
  text-transform: uppercase;
  text-align: center;
  color: #e63000;
  text-shadow: -3px 5px #FFF;
  margin-bottom: 57px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 17px;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 83px;
}
.navigation__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #5A1404;
}
.navigation__item:hover {
  color: #e63000;
}

.buttons {
  display: flex;
  align-items: center;
  column-gap: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #5A1404;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

@media (max-width: 760px) {
  .navigation {
    display: none;
  }
  .button.registration {
    display: none;
  }
}
@media (max-width: 500px) {
  .manual__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .manual__arrow {
    margin-top: 22px;
    rotate: 90deg;
    margin-bottom: 26px;
  }
  .header__bottom::before, .header__bottom::after {
    top: 300px;
  }
  .slogan {
    font-size: 34px;
  }
}
.logo__img {
  height: 21px;
  width: 136px;
}

.button.login {
  padding: 10px 43px;
  background: #FFCD00;
  border-radius: 29px;
}
.button.login:hover {
  background: #e63000;
  color: #FFF;
}
.button.registration {
  color: #5A1404;
}
.button.download {
  box-shadow: 0px 0px 37px #e7e7e7;
  background: #e63000;
  border-radius: 29px;
  padding: 15px 60px;
  text-transform: uppercase;
  border: 9px solid #FFF;
  display: inline-block;
  color: #FFF;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 81px;
  font-weight: 500;
  text-align: center;
}
.button.download:hover {
  background: #FFF;
  color: #e63000;
  border: 9px solid #e63000;
  box-shadow: 0px 0px 37px #e63000;
}
.button:hover {
  color: #e63000;
}

@media (max-width: 500px) {
  .button.download {
    font-size: 14px;
    line-height: 21px;
    padding: 6px 33px;
    word-wrap: break-word;
    width: 190px;
  }
}
@media (max-width: 400px) {
  .button.login {
    padding: 6px 22px;
  }
  .button.registration {
    display: none;
    transform: none;
  }
}
.participants {
  padding-top: 66px;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  background: linear-gradient(180.05deg, #ededed 22.63%, #FFF 99.95%);
  position: relative;
}
.participants::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 40px;
  background-image: url("./../images/pseudoElements/spiral.svg");
  background-size: cover;
  background-repeat: no-repeat;
  top: -26px;
  left: 16.46%;
  z-index: 1000;
}
.participants__title {
  text-align: center;
  text-transform: uppercase;
  color: #5A1404;
  margin-bottom: 23px;
}
.participants__content {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 1173px;
}

.arrow__left, .arrow__right {
  position: absolute;
  z-index: 100;
  top: 120px;
  cursor: pointer;
}
.arrow__left {
  left: 0;
}
.arrow__right {
  right: 0;
  rotate: 180deg;
}

.swiper {
  max-width: 1030px;
  height: 438px;
}
.swiper-pagination-bullet {
  background: #5b1a0d;
  border: 1px solid #5b1a0d;
  width: 11px;
  height: 11px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: none;
  border: 1px solid #5b1a0d;
  width: 11px;
  height: 11px;
}
.swiper-pagination-bullet:hover {
  background: #e63000;
  border: 1px solid #e63000;
}
.swiper-slide {
  min-width: 200px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper-slide > img {
  margin-bottom: 22px;
  min-width: 128px;
  min-height: 198px;
}

.slide__picture {
  position: relative;
  max-height: 345px;
}

.product {
  position: absolute;
  top: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 198px;
  max-height: 362px;
  min-width: 128px;
  min-height: 198px;
}
.product__info {
  text-align: center;
  color: #5A1404;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  top: 320px;
  margin-left: 50%;
  width: 190px;
  transform: translateX(-50%);
}

@media (max-width: 500px) {
  .arrow__left,
  .arrow__right {
    display: none;
  }
  .swiper__slid {
    max-width: 128px;
    max-height: 198px;
  }
}
@media (max-width: 400px) {
  .participants__title {
    font-size: 30px;
  }
}
.footer {
  border-top: 1px solid #000;
  padding-top: 22px;
  background: #FEFEFE;
  color: #5a1404;
}
.footer__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 17px;
}
.footer__bottom {
  font-weight: 400;
  font-size: 12px;
  color: #5b1a0d;
  line-height: 21px;
}
.footer__nav {
  display: flex;
  column-gap: 70px;
}
.footer__nav__item {
  color: #5A1404;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}
.footer__nav__item:hover {
  color: #e63000;
}

.paragraph {
  text-transform: uppercase;
  color: #5A1404;
  margin-bottom: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.foo {
  display: flex;
  align-items: start;
  column-gap: 70px;
}
.foo > .navigation__item > .navigation__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
  color: #5a1404;
}
.foo > .navigation__item > .navigation__link:hover {
  color: #e63000;
}

.phone {
  color: #e63000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  line-height: 25px;
  margin-bottom: 15px;
}

.contact__title {
  color: #5b1a0d;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 11px;
}
.contact .contact__list {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.contact .contact__list > .contact__item {
  width: 32px;
  height: 32px;
  background: #FFCD00;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact__list > .contact__item:hover {
  background: #e63000;
}

.company {
  color: #5b1a0d;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  padding-top: 15px;
}

@media (max-width: 586px) {
  .footer__box .info,
  .footer__box .navigation.foo,
  .footer__box .contact {
    text-align: center;
    margin: 0 auto;
  }
  .footer__box .info {
    order: 2;
    margin-bottom: 17px;
  }
  .footer__box .navigation.foo {
    order: 1;
    margin-bottom: 25px;
  }
  .footer__box .contact {
    order: 3;
  }
}
@media (max-width: 500px) {
  .contact {
    margin: 0 auto;
  }
  .contact__title {
    text-align: center;
  }
  .foo {
    column-gap: 43px;
  }
  .navigation.foo > * > .navigation__link {
    font-size: 14px;
  }
}
.modal {
  width: 320px;
  height: 400px;
  background-color: #FFF;
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20000;
  justify-content: space-between;
  display: none;
  animation: modal 0.3s ease-in-out;
  color: #5A1404;
  fill: #5b1a0d;
}
.modal > .close, .modal > .modal-end {
  max-height: 50px;
}

.close__modal {
  display: flex;
  column-gap: 14px;
  height: 15px;
  padding: 20px 20px;
  align-items: center;
  background: #FFCD00;
  text-transform: uppercase;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.close__modal:hover {
  color: #FFF;
  fill: #FFF;
  background: #ca2a00;
}
.close__modal > svg {
  fill: inherit;
}

.toggleModal {
  display: flex;
}

@keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}