@font-face {
    font-family: 'PFDinTextCondPro';
    font-style: normal;
    font-weight: 400;
    src: local('PFDinTextCondPro-Regular'), url('PFDinTextCondPro-Regular.woff') format('woff');
}


@font-face {
    font-family: 'PFDinTextCondPro';
    font-style: normal;
    font-weight: 700;
    src: local('PFDinTextCondPro-Bold'), url('PFDinTextCondPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'PFDinTextCondPro';
    font-style: normal;
    font-weight: 500;
    src: local('PFDinTextCondPro-medium'), url('pfdintextcondpro-medium.woff') format('woff');
}