.header {
    position: relative;
    z-index: 1000;
    background: linear-gradient(180deg, $yellow-dark 0%, #FFCF00 78.83%);

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0 23px;
    }

    &__bottom {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 80px;
            height: 158px;
            background-image: url("./../images/pseudoElements/baloon.svg");
            top: 40px;
            left: 27px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 31px;
            height: 47px;
            background-image: url("./../images/pseudoElements/spiral2.svg");
            top: 57px;
            right: 57px;
        }

        &__title {
            font-weight: 500;
            font-size: 60px;
            line-height: 46px;
            text-transform: uppercase;
            text-align: center;
            color: $red;
            text-shadow: -3px 5px $white;
            margin-bottom: 57px;
        }

        &__manual {
            display: flex;
            justify-content: space-between;
            padding-bottom: 67px;
            flex-wrap: wrap;

            &__item {
                max-width: 221px;
                margin: 0 auto;

                &__card {
                    &>img {
                        margin-left: 50%;
                        transform: translateX(-50%);
                        margin-bottom: 21px;
                    }

                    &>p {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 22px;
                        text-align: center;
                    }
                }

                &__arrow {
                    margin-top: 73px;
                }
            }
        }
    }
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 83px;

    &__item {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: $brown;
        ;

        &:hover {
            color: $red;
        }
    }
}

.login-box {
    display: flex;
    align-items: center;
    column-gap: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $brown;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 14px;
}