<footer class="footer" id="footer">
    <div class="container">
      <div class="footer__box">
        <article class="info">
          <h2 class="paragraph">Информационная линия</h2>
          <a class="phone" href="tel:+88003331525">8 800 333-15-25</a>
          <aside class="company">© 2020 ООО «Валио»</aside>
        </article>
        <ul class="navigation foo">
          <li class="navigation__item">
            <a href="#footer" class="navigation__link">Обратная связь</a>
          </li>
          <li class="navigation__item">
            <a href="#manual" class="navigation__link">Правила акции</a>
          </li>
          <li class="navigation__item">
            <a href="#footer" class="navigation__link">FAQ</a>
          </li>
        </ul>
        <div class="contact">
          <p class="contact__title">Присоединяйтесь к нам</p>

          <ul class="contact__list">
            <li class="contact__item">
              <a href="#" class="contact__link">
                <img loading="lazy" src="./images/socialMedia/facebook.svg" alt="" />
              </a>
            </li>
            <li class="contact__item">
              <a href="#" class="contact__link">
                <img loading="lazy" src="./images/socialMedia/vk.svg" alt="" />
              </a>
            </li>
            <li class="contact__item">
              <a href="#" class="contact__link">
                <img loading="lazy" src="./images/socialMedia/linkedin.svg" alt="" />
              </a>
            </li>
            <li class="contact__item">
              <a href="#" class="contact__link">
                <img loading="lazy" src="./images/socialMedia/insta.svg" alt="" />
              </a>
            </li>
            <li class="contact__item">
              <a href="#" class="contact__link">
                <img loading="lazy" src="./images/socialMedia/pinterest.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>