<header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="logo">
            <div class="burger" id="burger" role="menu">
            </div>
            <img class="logo__img" loading="lazy" src="./images/company/logo.svg" alt="Логотип" />
          </div>
          <nav class="nav">
            <ul class="navigation">
              <li>
                <a href="#manual" class="navigation__item">Правила</a>
              </li>
              <li>
                <a href="#participants" class="navigation__item">Призы</a>
              </li>
              <li>
                <a href="#footer" class="navigation__item">Победители</a>
              </li>
            </ul>
          </nav>
          <div class="buttons">
            <a href="#" class="button login">Вход</a>
            <a href="#" class="button registration">Регистрация</a>
          </div>
        </div>
      </div>
    </div>
    <div class="img">
      <img src="./images/picture/text.svg" alt="" class="text">
      <img src="./images/picture/person.webp" alt="" class="person">
      <img src="./images/picture/kitchen.webp" alt="" class="kitchen">
      <img src="./images/picture/oltermanni.webp" alt="" class="oltermanni">
      <img src="./images/picture/circle.webp" alt="" class="circle">
    </div>
    <!-- <div class="images" role="image">
      <div class="block">
        <img  class="text" src="./images/picture/text.svg" alt="" />
        <img  class="person" src="./images/picture/person.webp" alt="" />
      </div>
      <div class="kit">
        <img  src="./images/picture/circle.webp" alt="" class="circle" />
        <img  src="./images/picture/kitchen.webp" alt="" class="kitchen" />
        <img 
          src="./images/picture/oltermanni.webp"
          alt=""
          class="oltermanni"
        />
      </div>
    </div> -->
    <div class="header__bottom">
      <div class="container">
        <a href="#" class="button download">загрузить чек</a>
        <h1 class="slogan">Нам 40 лет - вам подарки</h1>
        <ul class="manual__list" id="manual">
          <li class="manual__item">
            <div class="card">
              <img loading="lazy"
                class="card__image"
                src="./images/manual/card1.svg"
                alt=""
              />
              <p class="card__text">
                Покупайте сыр <br />
                Oltermanni
              </p>
            </div>
          </li>
          <li class="manual__arrow">
            <img loading="lazy" src="./images/manual/itemArrow.svg" alt="" />
          </li>
          <li class="manual__item">
            <div class="card">
              <img loading="lazy"
                class="card__image"
                src="./images/manual/card2.svg"
                alt=""
              />
              <p class="card__text">
                Регистрируйте чеки <br />
                на сайте в период <br />
                с 1 сентября по 30 ноября <br />
                2020 года
              </p>
            </div>
          </li>
          <li class="manual__arrow">
            <img loading="lazy" src="./images/manual/itemArrow.svg" alt="" />
          </li>
          <li class="manual__item">
            <div class="card">
              <img loading="lazy"
                class="card__image"
                src="./images/manual/card3.svg"
                alt=""
              />
              <p class="card__text">
                Получайте <br />
                гарантированные <br />
                призы — деньги <br />
                на телефон
              </p>
            </div>
          </li>
          <li class="manual__arrow">
            <img loading="lazy" src="./images/manual/itemArrow.svg" alt="" />
          </li>
          <li class="manual__item">
            <div class="card">
              <img loading="lazy"
                class="card__image"
                src="./images/manual/card4.svg"
                alt=""
              />
              <p class="card__text">
                Участвуйте <br />
                в еженедельных <br />
                розыгрышах
              </p>
            </div>
          </li>
          <li class="manual__arrow">
            <img loading="lazy" src="./images/manual/itemArrow.svg" alt="" />
          </li>
          <li class="manual__item">
            <div class="card">
              <img loading="lazy"
                class="card__image"
                src="./images/manual/card5.svg"
                alt=""
              />
              <p class="card__text">
                Получите возможность <br />
                выиграть 400 000 ₽ <br />
                на новый интерьер
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>