<main class="main">
    <section class="participants" id="participants">
      <div class="container">
        <h2 class="participants__title">В акции участвуют</h2>
        <div class="participants__content">
          <img src="./images/swiper/arrow.svg" alt="" class="arrow__left" />
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture class="slide__picture">
                  <source
                    class="product"
                    type="image/webp"
                    srcset="./images/product/product.webp"
                  />
                  <img
                    src="./images/product/product.png"
                    alt=""
                    class="product"
                    loading="lazy"
                  />
                </picture>
                <p class="product__info">
                  Лёгкий, брусок<br />
                  180 г
                </p>
              </div>
              <div class="swiper-slide">
                <picture class="slide__picture">
                  <source
                    class="product"
                    type="image/webp"
                    srcset="./images/product/product2.webp"
                  />
                  <img
                    src="./images/product/product2.png"
                    alt=""
                    class="product"
                    loading="lazy"
                  />
                </picture>
                <p class="product__info">
                  Лёгкий, слайс <br />
                  120, 225 г
                </p>
              </div>
              <div class="swiper-slide">
                <picture class="slide__picture">
                  <source
                    class="product"
                    type="image/webp"
                    srcset="./images/product/product3.webp"
                  />
                  <img
                    src="./images/product/product3.png"
                    alt=""
                    class="product"
                    loading="lazy"
                  />
                </picture>
                <p class="product__info">
                  Сливочный<br />
                  200, 300 г
                </p>
              </div>
              <div class="swiper-slide">
                <picture class="slide__picture">
                  <source
                    class="product"
                    type="image/webp"
                    srcset="./images/product/product4.webp"
                  />
                  <img
                    src="./images/product/product4.png"
                    alt=""
                    class="product"
                    loading="lazy"
                  />
                </picture>
                <!-- <img src="./images/product/product4.png" alt="" class="product"> -->
                <p class="product__info">
                  Сливочный, слайсы <br />
                  130, 250 г
                </p>
              </div>
              <div class="swiper-slide">
                <picture class="slide__picture">
                  <source
                    class="product"
                    type="image/webp"
                    srcset="./images/product/product4.webp"
                  />
                  <img
                    src="./images/product/product4.png"
                    alt=""
                    class="product"
                    loading="lazy"
                  />
                </picture>
                <p class="product__info">
                  Лёгкий, брусок <br />
                  180 г
                </p>
              </div>
              <div class="swiper-slide">
                <picture class="slide__picture">
                  <source
                    class="product"
                    type="image/webp"
                    srcset="./images/product/product4.webp"
                  />
                  <img
                    src="./images/product/product4.png"
                    alt=""
                    class="product"
                    loading="lazy"
                  />
                </picture>
                <p class="product__info">
                  Лёгкий, брусок <br />
                  180 г
                </p>
              </div>
              <div class="swiper-slide">
                <picture class="slide__picture">
                  <source
                    class="product"
                    type="image/webp"
                    srcset="./images/product/product4.webp"
                  />
                  <img
                    src="./images/product/product4.png"
                    alt=""
                    class="product"
                    loading="lazy"
                  />
                </picture>
                <p class="product__info">
                  Лёгкий, брусок <br />
                  180 г
                </p>
              </div>
              <div class="swiper-slide">
                <picture class="slide__picture">
                  <source
                    class="product"
                    type="image/webp"
                    srcset="./images/product/product4.webp"
                  />
                  <img
                    src="./images/product/product4.png"
                    alt=""
                    class="product"
                    loading="lazy"
                  />
                </picture>
                <p class="product__info">
                  Лёгкий, брусок <br />
                  180 г
                </p>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <img src="./images/swiper/arrow.svg" alt="" class="arrow__right" />
        </div>
      </div>
    </section>
  </main>