<div class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a href="#manuad" class="menu__link">Правила</a>
    </li>
    <li class="menu__item">
      <a href="#participants" class="menu__link">Призы</a>
    </li>
    <li class="menu__item">
      <a href="#footer" class="menu__link">Победители</a>
    </li>
  </ul>

  <ul class="menu__list">
    <li class="menu__item">
      <a href="#footer" class="menu__link">Обратная связь</a>
    </li>
    <li class="menu__item">
      <a href="#footer" class="menu__link">Правила акции</a>
    </li>
    <li class="menu__item">
      <a href="#footer" class="menu__link">FAQ</a>
    </li>
  </ul>
  <div class="mn">
    <p class="mn__title">Присоединяйтесь к нам</p>

    <ul class="mn__list">
      <li class="mn__item">
        <a href="#" class="mn__link">
          <img loading="lazy" src="./images/socialMedia/facebook.svg" alt="" />
        </a>
      </li>
      <li class="mn__item">
        <a href="#" class="mn__link">
          <img loading="lazy" src="./images/socialMedia/vk.svg" alt="" />
        </a>
      </li>
      <li class="mn__item">
        <a href="#" class="mn__link">
          <img loading="lazy" src="./images/socialMedia/linkedin.svg" alt="" />
        </a>
      </li>
      <li class="mn__item">
        <a href="#" class="mn__link">
          <img loading="lazy" src="./images/socialMedia/insta.svg" alt="" />
        </a>
      </li>
      <li class="mn__item">
        <a href="#" class="mn__link">
          <img loading="lazy" src="./images/socialMedia/pinterest.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
</div>
